@using MVCIDentity.Helper
@model MVCIDentity.Models.ViewModel.UserRegisterViewModel
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6 mt-3 form-group">
                @Html.LabelFor(item => item.UserName)
                @Html.CustomTextBoxFor(item => item.UserName)
                @Html.ValidationMessageFor(item => item.UserName)
            </div>

            <div class="col-md-6 mt-3">
                @Html.LabelFor(item => item.Email)
                @Html.CustomTextBoxFor(item => item.Email)
                @Html.ValidationMessageFor(item => item.Email)
            </div>
            <div class="col-md-6 mt-3">
                @Html.LabelFor(item => item.FirstName)
                @Html.CustomTextBoxFor(item => item.FirstName)
                @Html.ValidationMessageFor(item => item.FirstName)
            </div>
            <div class="col-md-6 mt-3">
                @Html.LabelFor(item => item.LastName)
                @Html.CustomTextBoxFor(item => item.LastName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(item => item.LastName)
            </div>

            <div class="col-md-6 mt-3">
                @Html.LabelFor(item => item.Address)
                @Html.CustomTextBoxFor(item => item.Address, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(item => item.Address)
            </div>

            <div class="col-md-6 mt-3">
                @Html.LabelFor(item => item.Password)
                @Html.PasswordFor(item => item.Password, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(item => item.Password)
            </div>

            <div class="col-md-6 mt-3">
                @Html.LabelFor(item => item.ConfirmPassword)
                @Html.PasswordFor(item => item.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(item => item.ConfirmPassword)
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3"> submit</button>
    </div>
}